body {
  background-color: pink;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: black;
}
a:active {
  color: brown;
}

input[type="button"] {
  background-color: red;
  color: black;
}
